#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-shadow: 10px 15px 19px -4px #655f62;
  border-radius: 10px;
  background-color: rgb(229, 248, 242);
}

ul {
  list-style-type: none;
}

li {
  font-weight: bold;
}
